@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*App styling*/

.calculator-wrapper{
  width: 202px;
  height: 352px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}
